<mat-toolbar color="primary">
  <span>Administración de Mensajes</span>
  <span class="spacer"></span>
  Actualizar:
  <button mat-icon-button (click)="reloadList()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <div class="container mat-elevation-z8">
    <div class="form">
      <mat-form-field appearance="standard" floatPlaceholder="never" color="accent">
        <mat-label>Buscar Mensajes</mat-label>
        <input matInput #filter (keyup)="applyFilter($event)" placeholder="Filtrar Mensajes" #input>
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <mat-table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mensaje">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Mensaje </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.mensaje}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions"> 
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" (click)="addNew()"  matTooltip="Agregar Mensaje " >
              <mat-icon>add_comment</mat-icon>
            </button>
          </mat-header-cell>
          
          <mat-cell *matCellDef="let row;" >
            <button mat-icon-button color="primary" (click)="startEdit(row)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteItem(row)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <tr class="mat-row no-results" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se han encontrado registros para "{{input.value}}"</td>
        </tr>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccione pagina de mensajes"></mat-paginator>
    </div>
  </div>
</mat-card>